<h2>Login</h2>
    <form action="/login" method="post">
        <div>
            <label>Email:</label>
            <input type="text" name="username"/>
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="password"/>
        </div>
        <div>
            <input id='submit' type="submit" value="Log In"/>
        </div>
    </form>
<br>
    <button id='register'><a href="/register">Register New Account</a></button>
    <button id="loginFB"><a href="/auth/facebook">Login via Facebook</a></button>

