<p id='hello'>Hello </p><button><a href="/">Log out</a></button>
    <div id="msgBox">
        <ul id="messages"></ul>
        <form id='messageForm' action="">
            <input id="m" autocomplete="off"/><button >Send</button>
        </form>   
    </div>