<h2>Register New Account</h2>
<form id="registerForm">
    User Name: <input id="login_name_register" type="text">
    Password <input id="password_register" type="text">
    <button id='signUp'>Sign Up</button>
    <button id='back'><a href="/">login page</a></button>
</form>
<div id='status'></div>