#loginForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#content {
    margin: 0 auto;
}

#msgBox {
    margin: 2.5% 5% 7.5% 5%;
}

#messageForm {
    background: grey; padding: 3px; position: fixed; bottom: 0; width: 90%; 
}
#messageForm input {
    border: 1px solid black; padding: 10px; width: 90%; margin: 0.5%; 
}
#messageForm input #n {
    width: 50%;
}
#msgBox form button {
    width: 5%; background: rgb(130, 224, 255); border: none; padding: 10px; 
    }
#loginBox form button {
    width: 40%; background: rgb(130, 224, 255); border: none; padding: 10px; 
    }
#messages {
    list-style-type: none; 
    margin: 0 ;
    padding: 0; 
}
#messages li { 
    padding: 5px 10px; 
}
#messages li:nth-child(odd) { 
    background: #eee; 
}
