    <div id='loginBox'>
        <form id='loginForm' action="/message">
            Your name? <input id="name" autocomplete="off"/><br>
            Which chatroom? <input id="room" autocomplete="off"/><br>
            <button href='/message'>Start Chatting</button>
        </form>   
    </div>