<h1>Gallary</h1>
<img src="./1.jpg" height="100" width="100">
<img src="./2.jpg" height="100" width="100">
<img src="./3.jpg" height="100" width="100">

<a href="/">Home</a>
<br>
 <a href="/menu">Menu</a>