<h1>Pizza Home</h1>

   {{!-- <h1>MENU</h1>

        <div>

        {{#each pizza}}

            <div >
                <h1>Pizza</h1>
                <h3>name: </h3>

                {{name}}

                <h3>price: </h3>

                {{price}}
            <br/>

        {{/each}}
 
        </div> --}}

<a href="/menu">Menu</a>
<br>
 <a href="/gallary">Gallery</a>