<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/main.css">
    <title>Instant Messaging App</title>
</head>
<body>
    <!-- <button id='join'>Join A Room</button> -->
    <h1>Instant Messaging Apps</h1>
    <p>Username: <span id="username"></span></p>
    <p>Chatroom: <span id="chatroom"></span></p>
    {{{body}}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.slim.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script src="./javascript/main.js"></script>

</body>
</html>